<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal">
    <div class="modal-header">
      <h3>Nuevo Segmento</h3>
      <button class="close" (click)="cerrarModal()">✖</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="nombreSegmento">Nombre del Segmento</label>
        <input id="nombreSegmento" [(ngModel)]="nombreSegmento" name="nombreSegmento" class="input-field"/>
      </div>

      <div class="form-group">
        <label for="colorSegmento">Color del Segmento</label>
        <input id="colorSegmento" type="color" [(ngModel)]="colorSegmento" name="colorSegmento" required class="input-field"/>
      </div>
      
      <div class="button-container">
        <button class="btn-secondary-1" (click)="cerrarModal()">Cancelar</button>
        <button class="btn-secondary" (click)="crearSegmento()">Crear</button>
      </div>
    </div>
  </div>
</div>
