<body>
  <form>
    <div class="login-container">
      <div class="login-card">
        <h2>Generador de firmas y credenciales</h2>

        <div class="form-row">
          <div class="form-group">
            <h3>Nombre completo</h3>
            <input
              type="text"
              [(ngModel)]="nombre"
              name="nombre"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>RUT</h3>
            <input
              type="text"
              [(ngModel)]="rut"
              name="rut"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Gerencia</h3>
            <input
              type="text"
              [(ngModel)]="gerencia"
              name="gerencia"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Cargo</h3>
            <input
              type="text"
              [(ngModel)]="cargo"
              name="cargo"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Segmento</h3>
            <input
              type="text"
              [(ngModel)]="segmento"
              name="segmento"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Celular</h3>
            <input
              type="text"
              [(ngModel)]="celular"
              name="celular"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Correo electrónico</h3>
            <input
              type="email"
              [(ngModel)]="correo"
              name="correo"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <h3>Sede</h3>
            <input
              type="text"
              [(ngModel)]="sede"
              name="sede"
              readonly
              disabled
            />
          </div>
        </div>

        <div class="button">
          <button
            type="button"
            class="btn-secondary"
            (click)="redirigirCredencialExitosa()"
          >
            Descargar Credencial
          </button>
          <button
            class="btn-secondary-1"
            (click)="redirigirFirmaExitosa()"
          >
            Copiar Pie de Firma
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="qrCodeUrl">
      <h3>QR Code Generado:</h3>
      <img [src]="qrCodeUrl" alt="Código QR" class="qr-code" />
    </div>
  </form>
</body>

