<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<div class="navbar">
    <div class="logo-container">
      <img src="/Logos DDC-04.svg" alt="Logo DDC" class="logo">
    </div>
  </div>

<div class="background-container">
    <div class="login-container">
        <div class="card shadow login-card">
        <div class="card-body">
            <img src="/Logos DDC-04.svg" alt="Icono de login" class="icono-login mb-3">
            <h2 class="title">Ingresar a Credenciales</h2>
            <p class="text-font-blue-gray text-sm mb-8">Accede a tu cuenta con tus credenciales.</p>
            <form (ngSubmit)="gotoHome()">
            <div class="form-group">
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                [(ngModel)]="usuario.email"
                name="email"
                required
                />
            </div>
            <div class="form-group">
                <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Contraeña"
                [(ngModel)]="usuario.password"
                name="password"
                required
                />
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                Acceder
            </button>
    
            <div *ngIf="mensajeError" class="text-danger mt-2">{{ mensajeError }}</div>
            </form>
            <div class="text-center mt-4">
            <span>¿Olvidaste tu contraseña? 
                <a href="#" (click)="handleRecoverPasswordClick()" class="text-ddc-blue">Recuperar acceso</a>
            </span>
            </div>
            <div class="text-center">
            <span>¿Aún no tienes tu acceso? 
                <a href="#" (click)="openModal()" class="text-ddc-blue">Solicítalo aquí</a>
            </span>
            </div>
            <div class="version-text text-center">versión beta 1.0.2</div>
        </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <a href="#" (click)="openModal()" class="footer-link">
                    <i class="fas fa-question-circle"></i> Ayuda
                </a>
            </div>
            <div class="footer-text">© Derechos Reservados David del Curto 2024</div>
        </div>
    </footer>
</div>

<div class="modal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true" id="supportModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="supportModalLabel">Ayuda y Soporte</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Si tienes algún problema, comunícate a través de nuestro correo electrónico 
          <a href="mailto:soporteTI@ddc.cl" class="text-blue">soporteTl{{'@'}}ddc.cl</a>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal btn-sm" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  