<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal">
    <div class="modal-header">
      <h3>Crear nueva gerencia</h3>
      <button class="close" (click)="cerrarModal()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="nombreGerencia">Nombre de la Gerencia</label>
        <input id="nombreGerencia" type="text" [(ngModel)]="nombreGerencia" class="form-control" placeholder="Ingresa el nombre de la gerencia">
      </div>
     
    </div>
    <div class="button-container">
      <button class="btn-secondary-1" (click)="cerrarModal()">Cerrar</button>
      <button class="btn-secondary" (click)="crearGerencia()" [disabled]="!nombreGerencia.trim()">Guardar</button>
    </div>
  </div>
</div>
