

.search{
  width: calc(100% - 35px);
  padding: 5px;
  margin-bottom: 20px;  
}

.search-section {
  background: linear-gradient(to right, #87CEEB, #005bb5) no-repeat top left / 100%;
  color: white;
  padding: 20px;
  margin-top: 70px;
  text-align: left;
}

.search-section-white {
  background: white;
  padding: 10px;
  text-align: right;
  width: 90%; 
}


.search-bar input {
  border-radius: 8px;
  border: 80px solid #ddd;
}
  
.flex-container {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
}
  
  .btn-secondary {
    background-color: #005bb5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
  }
  
  .btn-secondary-1 {
    background-color: white;
    color: #005bb5;
    border: 2px solid #005bb5; 
    cursor: pointer;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: medium;

  }
  .btn-secondary-1_{
    background-color: white;
    color: black;
    cursor: pointer;
    width: auto;
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
    font-weight: 300;
    text-align: left;

  }
  
.title-search{
  font-family: "Titillium Web", sans-serif;
  font-size: xx-large;
  font-weight: 600;

}

.text-search{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size:large;
  color: black;
  text-align: left;
  margin-left: 25px;
}
.divider {
  height: 1px;
  background-color: #ccc; 
  margin: 0 20px; 
}
.dropdown-menu {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  /* z-index: 1000; */
  width: 315px; 
  color: black;
  /* margin-top: 50px; */
}

.dropdown-option {
  display: block;
  background: transparent;
  border: none;
  color: black;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  box-sizing: border-box; 
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #87CEEB; 
  color: white; 
}

.load-excel-button {
  background-color: #005bb5; 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
  width: 100%; 
  text-align: center; 
  border-radius: 5px;
}

.load-excel-button:disabled {
  background-color: #ccc;
  cursor: not-allowed; 
  color: darkgray; 
}

.mensaje-exito {
  background-color: white; 
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
