<div class="search-section">
  <h2 class="title-search">Gestión de Firmas y Credenciales</h2>
  <div class="search-section-white">
    <!-- <h3 class="text-search">Buscar en la plataforma</h3>
    <input class="search"
      type="text"
      placeholder="Buscar por Nombre, RUT, Correo Electrónico..."
      [(ngModel)]="searchQuery"> -->
    <!-- <div class="divider"></div> -->
    <div class="flex-container">
      <button (click)="onUpload()" class="btn-secondary-1">
        Carga Masiva de Documentos
        <img src="/dropdown.svg" alt="Icono" style="width: 16px; height: 16px; margin-left: 10px;">
      </button>
      
    

      <!-- <button (click)="onSearch()" class="btn-secondary">Buscar</button> -->
    </div>
    <div *ngIf="isDropdownVisible" class="dropdown-menu"> 
      <h3 class="btn-secondary-1_">Carga masiva de Documentos
      </h3>
      <button (click)="onLoadOption('Colaboradores')" 
              class="dropdown-option" 
              [ngClass]="{'selected': selectedOption === 'Colaboradores'}">Colaboradores</button>
      <button (click)="onLoadOption('Segmentos')" 
              class="dropdown-option" 
              [ngClass]="{'selected': selectedOption === 'Segmentos'}">Segmentos</button>
      <button (click)="onLoadOption('Gerencias')" 
              class="dropdown-option" 
              [ngClass]="{'selected': selectedOption === 'Gerencias'}">Gerencias</button>
      
      <input type="file" (change)="onFileSelected($event)" *ngIf="selectedOption" accept=".xlsx,.xls,.zip" />
      <br>
      <br>
      <button *ngIf="selectedFile && !submit" (click)="onLoadExcel()" class="dropdown-option load-excel-button" >Cargar excel o .zip</button>
    </div>
  </div>
  <br>
  <div class="alert" [ngClass]="title === 'Exitoso!' ? 'alert-success' : 'alert-error'" *ngIf="title">
    <button class="close-btn" (click)="closeMessage()">&times;</button>
    <strong>{{ title }}</strong>
    <p *ngIf="message">{{ message }}</p>
    <ul *ngIf="errors.length">
      <li *ngFor="let error of errors">
        Fila: {{ error.rowNumber }}, {{ error.messages }}
      </li>
    </ul>
  </div>
  
  
  
  <div class="search-section">
</div>
