<body>
<div class="table-container">
    <div class="toolbar">
      <h1 class="title" >Mantenedores / </h1>
      <h1 class="title" style="color: grey;">Áreas</h1>

      <button class="btn btn-primary">
        <img src="/icons/crear.svg"  class="option-icon" style="margin-right: 10px;">
        <span>Nueva Área</span>      
      </button>
    </div>
  
    <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Centro de Coste / área</th>
          <th>Fecha creación</th>
          <th>Editado</th>
          <th>Color ID</th> 
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of areas">
          <td><input type="checkbox"></td>
          <td>{{ area.centro_coste }}</td>
          <td>{{ area.fecha }}</td>
          <td>{{ area.editado }}</td>
          <td>
            <span [ngClass]="
                area.color_id === 'administracion' ? 'color-administracion' :
                area.color_id === 'packaging' ? 'color-packaging' :
                area.color_id === 'frigorifico' ? 'color-frigorifico' :
                area.color_id === 'patio' ? 'color-patio' :
                area.color_id === 'bodega' ? 'color-bodega' :
                area.color_id === 'agricola' ? 'color-agricola' :
                area.color_id === 'vivero' ? 'color-vivero' :
                area.color_id === 'mantencion' ? 'color-mantencion' :
                area.color_id === 'calidad' ? 'color-calidad' :
                area.color_id === 'v.clientes' ? 'color-v-clientes' :
                area.color_id === 'v.productores' ? 'color-v-productores' :
                area.color_id === 'v.proveedores' ? 'color-v-proveedores' : ''
            ">
                {{ area.color_id }}
            </span>
        </td>
        
<td>
        <button class="btn-edit">
            <img src="/icons/pen-to-square-solid.svg" style="width: 16px; height: 16px; margin-right: 5px;" /> 
        </button>
        <button class="btn-delete" (click)="eliminar()">
          <img src="/icons/trash-solid.svg" alt="Eliminar" style="width: 16px; height: 16px; margin-right: 5px;" /> 
        </button>
        
      
      </td>
      </tbody>
    </table>  
  </div>
    <div class="pagination">
      <span class="label">Principio</span>
      <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>
      
      <div class="page-numbers">
        <button *ngFor="let page of pages()" (click)="goToPage(page)" [class.active]="currentPage === page">
          {{ page }}
        </button>
      </div>
      <span (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="arrow">›</span>
      <span class="label">Final</span>
    </div>
  </div>
</body>

<app-eliminar *ngIf="mostrarFormulario" (cerrar)="cerrarFormulario()"></app-eliminar>
