
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar-logo {
    height: 168px; 
    width: auto; 
    margin-left: -64px;
}

.navbar {
    width: 100%;
    max-width: 400px; 
    background-color: #ffffff;
    padding: 0px 0px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    position: relative; 
}

.ecard-title {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff; 
    background-color: #003da5;
    font-size: 17px;
    font-weight: bold;
    text-align: right; 
    border-radius: 8px;
    margin: -7px;
    margin-top: 28px;
    padding: 0px 8px;
    white-space: nowrap; 
    margin-right: 76px;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap; 
}

.login-container {
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    overflow: hidden;
    min-height: calc(100vh - 80px); 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.login-card {
    padding: 0px;
}
.business-card {
    margin-top: 0;
    background: url('/Fondo_azul.png') no-repeat center center;
    background-size: cover;
    border-radius: 0px;
    color: #fff;
    padding: 28px;
    position: relative;
    display: flex;
    align-items: center;
}

.card-header {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    text-align: left;
}

.image-section {
    flex: 1;
}

.repo-image {
    width: 179px;
    height: 179px;
    border-radius: 8px;
    margin-right: 20px; 
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
}

.contact-info h3,
.contact-info p,
.contact-info span {
    margin: 5px 0; 
}

.name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 31px;
    font-weight: bold;
    margin-top: -1px;
    text-align: start;
}

.personal-data{
    color: #04488e;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: start; 
}

.segmento {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.position {
    font-family: 'Titillium Web', sans-serif;
    text-align: start;
    font-weight: bold;
    font-size: -14px;
    display: flex;
    flex-direction: column;

}
.position span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    margin-top: 3px; 
}
.gerency{
    font-family: 'Titillium Web', sans-serif;
    text-align: start;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-top: -19px; 
}

.office-info {
    background-color: #fff;
    padding: 26px;
    border-radius: 10px;
    margin-top: -51px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}

.office-info h3 {
    font-size: 18px;
    text-align: center;
    color: #333;
}

.office-info p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #333;
    margin: -2px 0;
}

.office-central{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #333;
    margin: -2px 0;
}

.qr-section {
    display: flex;
    justify-content: space-evenly; 
    padding: 10px;
    margin-left: 50px;
}

.logo-section {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: -110px; 
}

.logo-image {
    width: 135px; 
    height: auto;
    height: 135px; 
    object-fit: cover; 
    margin-top: -28px;
    object-position: right;
    overflow: hidden;
}

img {
    width: 200px;
    height: 100px;
}

.qr-code {
    width: 100px;
    height: 100px;
}

.footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    font-weight: bold;
    padding: 10px 0; 
    border-top: 1px solid #ddd; 
    background-color: var(--segmentoColor); 
    width: 100%; 
    height: auto; 
}

.divider {
    border-bottom: 1px solid rgb(224, 213, 213);
    margin: 10px 0; 
    width: 100%; 
}

p, h3, div{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

h2{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-top: 40px;
} 
.btn-action {
    background-color: #5280b1;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center; 
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    background-color: #0056b3;
}

.btn-action {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.icon {
    width: 16px;
    height: 16px;
}

.contact-section, .email-section  {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 0px 0;
}

.contact-section .contact-row, .email-section .contact-row {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.contact-section .label, .email-section .label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #575656;
}

.contact-link {
    color: #007BFF;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-section .btn-action, .email-section .btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section .btn-action img, .email-section .btn-action img {
    width: 16px;
    height: 16px;
}

@media (max-width: 300px) {
    .contact-section, .email-section {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .contact-section .btn-action, .email-section .btn-action {
        margin-top: 8px; 
    }
}

.contact-row .label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #575656;
    margin-right: 10px; 
}

hr.divider {
    border-bottom: 1px solid rgb(224, 213, 213);
    margin: 10px 0;
    width: 100%;
}
.contact-row {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.contact-link {
    color: #007BFF; 
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none; 
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline; 
}


