<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="login-container">
  <div class="login-card">
    <div class="navbar">
      <div class="navbar-content">
        <img src="/Logos DDC-04.svg" alt="Logo DDC" class="navbar-logo">  <span class="ecard-title">eCard DDC</span>      
        
      </div>
    </div>

    <div class="business-card">
      <div class="card-header">
        <div class="image-section">
          <img *ngIf="!photoBase64" src="/user-2935527_1920.png" alt="Foto de Perfil" class="repo-image">
          <img *ngIf="photoBase64" [src]="'data:' + fileType + ';base64,' + photoBase64" alt="Foto de Perfil" class="repo-image" />
          <h3 class="name">{{ nombre }}</h3>
          <p class="position">
            <span>{{ cargo }}</span>
          </p>
          <h2 class="gerency">{{ sede }}</h2> 
          <!-- <span class="segmento" [ngStyle]="{ 'background-color': segmentoColor }">{{ segmento }}</span> -->
        </div>
      </div>
    </div>

    <div class="office-info">
      <h2 class="personal-data">Datos Personales</h2>

      <div class="contact-section">
        <div class="contact-row">
          <span class="label">Contacto Telefónico:</span>
          <a href="tel:{{ celular }}" class="contact-link">{{ celular }}</a>
        </div>
        <button (click)="agendarContacto()" class="btn-action">
          <img src="/agenda.png" alt="Agendar Contacto" class="icon">
        </button>
      </div>
      <hr class="divider">
      <div class="email-section">
        <div class="contact-row">
          <span class="label">Correo:</span>
          <a href="mailto:{{ correo }}" class="contact-link">{{ correo }}</a>
        </div>
        <button (click)="enviarCorreo()" class="btn-action">
          <img src="/correo.png" alt="Enviar Mail" class="icon">
        </button>
      </div>
      <hr class="divider">
      <div class="office-location">
        <br>
        <h1 class="office-central">Oficina Central Santiago</h1>
        <p>Av. Las Condes 11700, </p>
        <p>Torre A, Of. 704. Vitacura,</p>
        <p> Santiago.</p>
        <p><i class="fas fa-phone icon"></i>+56 2 2362 2701</p>
        <br>
        <p><a href="http://www.ddc.cl" target="_blank">www.ddc.cl</a></p>
    </div>
    <div class="logo-section">
      <img src="/logos.png" alt="Logo adicional" class="logo-image">
    </div>
  </div>
</div>

