<body>
  <main>
    <div class="table-container">
      <div class="toolbar">
        <h1 class="title">Mantenedores / </h1>
        <h1 class="title" style="color: grey;">Segmentos</h1>
        <button class="btn btn-primary" (click)="abrirModalNuevoSegmento()">
          <span class="option-icon-large">&#43;</span>
          <span>Nuevo Segmento</span>
        </button>  
      </div>

      <input type="text" [(ngModel)]="textSearch" (input)="search()" placeholder="Buscar por Gerencia" class="search-bar" />

      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Nombre</th>
              <th>Color</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let segmento of paginatedSegmentos">
              <td><input type="checkbox" /></td>
              <td>{{ segmento.nombreCompleto }}</td> 
              <td>
                <div *ngIf="isValidColor(segmento.color); else noColor" [style.background]="segmento.color" style="width: 20px; height: 20px"></div>
                <ng-template #noColor>
                  <span>{{ segmento.color }}</span>
                </ng-template>
              </td>
              <td>{{ segmento.activo ? 'Activo' : 'Inactivo' }}</td>
              <td>
                <button class="btn-edit" (click)="abrirFormularioModificar(segmento)">
                  <img src="/edit_modify_icon_149489.png" style="width: 16px; height: 16px; margin-right: 5px;" />
                </button>
                <button class="btn-delete" (click)="abrirModalEliminar(segmento.id)">
                  <img src="/trash-solid (1).svg" class="option-icon" />
                </button>
              </td>
            </tr>
          </tbody>       
        </table>
      </div>

      <div class="pagination">
        <span class="label">Principio</span>
        <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>
        <div class="page-numbers">
          <button *ngFor="let page of generatePageNumbers()" (click)="goToPage(page)" [class.active]="currentPage === page">
            {{ page }}
          </button>
        </div>
        <span (click)="nextPage()" [class.disabled]="currentPage === totalPagesCalculated" class="arrow">›</span>
        <span class="label">Final</span>
      </div>
    </div>
  </main>

  <app-nueva-segmento
    *ngIf="mostrarModalNuevoSegmento"
    [mostrarModal]="mostrarModalNuevoSegmento"
    (cerrar)="cerrarModalNuevoSegmento()"
    (guardar)="guardarNuevoSegmento({Description: $event.Description, Color: $event.Color})"
  ></app-nueva-segmento>

  <app-eliminar
  *ngIf="mostrarModalEliminar"
  (cerrar)="cerrarModalEliminar()"
  (confirmar)="eliminarSegmentoSeleccionado()">
</app-eliminar>

<app-modificar-segmento 
  *ngIf="mostrarModificar"
  [segmento]="segmentoSeleccionado"
  (cerrar)="cerrarFormulario()"
  (guardar)="guardarModificaciones($event)">
</app-modificar-segmento>


</body>
